<div class="px-4 mx-auto  lg:px-12">
    <div class="relative overflow-hidden bg-white shadow-md border  dark:bg-gray-800 sm:rounded-lg p-1">
        <div
            class="flex flex-col px-4 py-3  lg:flex-row lg:items-center border-b border-gray-300  lg:justify-between lg:space-y-0 lg:space-x-4">
            <div class="flex items-center flex-1 space-x-4">
                <div class="w-full md:w-1/2">
                    <form class="flex items-center">
                        <label for="simple-search" class="sr-only">Search</label>
                        <div class="relative w-full">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                    fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Search" required="">
                        </div>
                    </form>
                </div>
            </div>
            <div
                class="flex flex-col flex-shrink-0 space-y-3 md:flex-row md:items-center lg:justify-end md:space-y-0 md:space-x-3">
                <h5>
                    <span class="text-gray-500">All Users:</span>
                    <span class="dark:text-white"> {{users.length}}</span>
                </h5>

                <button state="button" (click)="showDialog()"
                    class="flex items-center justify-center flex-shrink-0 px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                    </svg>
                    Export
                </button>
                <button state="button" (click)="showDialog(); submitType ='Add'"
                    class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                    <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd"
                            d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                    </svg>
                    Add new user
                </button>

            </div>
        </div>
        <div class="overflow-x-auto"> 
            <p-table [value]="users"  #dt1
            [globalFilterFields]="['firstName', 'lastName', 'phone', 'state', 'userType','status']"  [paginator]="true" [rows]="10" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" [tableStyle]="{'min-width': '60rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="firstName" style="width:15%">Name <p-sortIcon field="firstName"></p-sortIcon></th>
                        <!-- <th pSortableColumn="address" style="width:15%">Address <p-sortIcon field="address"></p-sortIcon></th> -->
                        <th pSortableColumn="phone" style="width:15%">Phone <p-sortIcon field="phone"></p-sortIcon></th>
                        <th pSortableColumn="state" style="width:10%">State <p-sortIcon field="state"></p-sortIcon></th>
                        <th pSortableColumn="firstName" style="width:15%">Type <p-sortIcon field="firstName"></p-sortIcon></th>
                        <th pSortableColumn="status" style="width:10%">Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th pSortableColumn="createdAt" style="width:15%">Creadted on <p-sortIcon field="createdAt"></p-sortIcon></th>
                        <th style="width:15%">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr  class="border-b border-gray-300">

                        <td class="' py-2">{{user.firstName}}, {{user.lastName}}</td>
                        <!-- <td class="' py-2">{{user.address}}</td> -->
                        <td class="' py-2">{{user.phone}}</td>
                        <td class="' py-2">{{user.state}}</td>
                        <td class="' py-2">{{user.type}}</td>
                        <td class="' py-2">{{user.status}}</td>
                        <td class="' py-2">{{user.createdAt | date: 'dd/MM/yyyy'}}</td>
                        <td>
                            
                            <button (click)="displayUser = true; populateUser(user)" class="px-4 py-1 text-white rounded-md text-sm mx-2 hover:bg-primary-900 bg-primary-700">Edit</button>
                            <button (click)="confirmDelete(user._id)" class="px-4 py-1 text-white rounded-md text-sm mx-2 hover:bg-red-900 bg-red-700">Delete</button>
                        </td>
                     
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{}"></p-confirmDialog>
<p-dialog header="{{submitType}}  User" [(visible)]="displayUser" [modal]="true" showEffect="fade"
[style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
<form [formGroup]="userForm">
    <h4 class="text-primary-700 font-semibold text-2xl my-5">Create a user</h4>

    <div class="">

        <span class=" w-full mb-1">
            <span class="block w-full mb-3"> User type </span>

            <p-dropdown [options]="userTypes" optionValue="value" placeholder="Select user type" formControlName="userType"
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.userType.errors }"
            styleClass="border w-full p-2 rounded" [style]="{width: '100%'}"
            optionLabel="title"></p-dropdown>
        </span>

        <small class="w-ful mb-4 inline-block" *ngIf="f.userType.hasError('required') && f.userType.touched"
            id="title-help" class="p-error">Please select user type</small>
 
        <span class=" w-full mb-1 mt-8 inline-block">
            <span class="block w-full mb-3"> First Name </span>

            <input id="title" state="text" pInputText formControlName="firstName"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.firstName.errors }"
                class="border w-full p-3 rounded" placeholder="First Name">
        </span>

        <small class="w-ful mb-4 inline-block" *ngIf="f.firstName.hasError('required') && f.firstName.touched"
            id="title-help" class="p-error">Please enter your first name</small>

        <span class=" w-full mb-1">
            <span class="block w-full mb-3 mt-8"> Last Name </span>

            <input id="title" state="text" pInputText formControlName="lastName"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.lastName.errors }"
                class="border w-full p-3 rounded" placeholder="Last Name">
        </span>

        <small class="w-ful mb-4 inline-block" *ngIf="f.lastName.hasError('required') && f.lastName.touched"
            id="title-help" class="p-error">Please enter your last name</small>

        <span class=" w-full mb-1 ">
            <span class="block w-full mb-3 mt-8"> Email Address </span>

            <input id="email" state="text" pInputText formControlName="email"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.email.errors }" class="border w-full p-3 rounded"
                placeholder="Email Address">
        </span>

        <small class="w-ful mb-4 inline-block" *ngIf="f.email.hasError('required') && f.email.touched"
            id="title-help" class="p-error">Please enter your email</small>

        <span class=" w-full mb-1 ">
            <span class="block w-full mb-3 mt-8">Date of Birth </span>

            <p-calendar placeholder="Date of Birth" [required]="true" name="dob" [maxDate]=""
                formControlName="dob" styleClass="w-full border !border-gray-300 !w-full rounded-md"></p-calendar>
        </span>
        <small class="w-ful inline-block " *ngIf="f.dob.hasError('required') && f.dob.touched" id="state-help"
            class="p-error">Please select date of birth</small>

        <span class=" w-full mb-1 ">
            <span class="block w-full mb-3 mt-8"> Phone number </span>

            <input id="phone" state="text" pInputText formControlName="phone"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.phone.errors }" class="border w-full p-3 rounded"
                placeholder="Phone number">
        </span>

        <small class="w-ful mb-4 inline-block" *ngIf="f.phone.hasError('required') && f.phone.touched"
            id="title-help" class="p-error">Please enter your phone</small>

        <span class=" w-full mb-1 block mt-8">
            <span class="block w-full mb-1"> Address </span>
            <input formControlName="address" class="border w-full p-3 rounded" placeholder="Address">
        </span>
        <small class="w-ful mb-4 inline-block" *ngIf="f.address.hasError('required') && f.address.touched"
            id="address-help" class="p-error">Please enter address</small>

        <span class="w-full mb-1 block mt-8">
            <span class="block w-full mb-1"> State </span>

            <p-dropdown [options]="states" optionValue="state.name" placeholder="Select a state"
                formControlName="state" [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.state.errors }"
                styleClass="border w-full p-2 rounded" [style]="{width: '100%'}"
                optionLabel="state.name"></p-dropdown>
        </span>
        <small class="w-ful inline-block " *ngIf="f.state.hasError('required') && f.state.touched" id="state-help"
            class="p-error">Please enter state</small>

        <span class=" w-full mb-1 ">
            <span class="block w-full mb-3 mt-8"> Password </span>

            <input id="password" type="password" formControlName="password"
                [ngClass]="{ 'border-red-700 ng-dirty': submitted && f.password.errors }"
                class="border w-full p-3 rounded" placeholder="Password">
        </span>
        <small class="w-ful mb-4 inline-block" *ngIf="f.password.hasError('required') && f.password.touched"
            id="title-help" class="p-error">Please enter your password</small>

        <span class=" w-full mb-1 ">
            <span class="block w-full mb-3 mt-8"> Confirm Password </span>

            <input id="password" type="password" formControlName="confirmPassword"
                [ngClass]="{ 'border-red-700 ng-dirty': submitted && f.confirmPassword.errors }"
                class="border w-full p-3 rounded" placeholder="Confirm Password">
        </span>
        <small class="w-ful mb-4 inline-block"
            *ngIf="f.confirmPassword.hasError('required') && f.confirmPassword.touched" id="title-help"
            class="p-error">Please confirm your password</small>
        <small class="w-ful mb-4 inline-block"
            *ngIf="f.confirmPassword.hasError('mustMatch') && f.confirmPassword.touched" id="title-help"
            class="p-error">Confirm Password must match Password </small>

        <button [loading]="loading" pButton pRipple label="Submit" class="w-full mt-8 text-white p-3 rounded bg-primary-700"
            (click)="submitUser()"></button>
    </div>
</form>
<ng-template pTemplate="footer">
    <!-- <button pButton icon="pi pi-check" (click)="displayFaq=false" label="Ok" class="p-button-outlined"></button> -->
</ng-template>
</p-dialog>

