<div class="px-4 mx-auto  lg:px-12">
    <div class="relative overflow-hidden bg-white shadow-md border  dark:bg-gray-800 sm:rounded-lg p-1">
        <div
            class="flex flex-col px-4 py-3  lg:flex-row lg:items-center border-b border-gray-300  lg:justify-between lg:space-y-0 lg:space-x-4">
            <div class="flex items-center flex-1 space-x-4">
                <div class="w-full md:w-1/2">
                    <form class="flex items-center">
                        <label for="simple-search" class="sr-only">Search</label>
                        <div class="relative w-full">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                    fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                            <input state="text" id="simple-search"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Search" required="">
                        </div>
                    </form>
                </div>
            </div>
            <div
                class="flex flex-col flex-shrink-0 space-y-3 md:flex-row md:items-center lg:justify-end md:space-y-0 md:space-x-3">
                <h5>
                    <span class="text-gray-500">All Bookings:</span>
                    <span class="dark:text-white"> {{bookings.length}}</span>
                </h5>

                <button state="button" 
                    class="flex items-center justify-center flex-shrink-0 px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                    </svg>
                    Export
                </button>
                <!-- <button state="button" (click)="showDialog(); submitType ='Add'"
                    class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                    <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd"
                            d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                    </svg>
                    Add new booking
                </button> -->

            </div>
        </div>
        <div class="overflow-x-auto">
            <p-table [value]="bookings"  [paginator]="true" [rows]="10" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" [tableStyle]="{'min-width': '60rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="firstName" style="width:15%">BookingId <p-sortIcon field="firstName"></p-sortIcon></th>
                        <th pSortableColumn="firstName" style="width:15%">Name <p-sortIcon field="firstName"></p-sortIcon></th>
                        <th pSortableColumn="address" style="width:15%">Email <p-sortIcon field="address"></p-sortIcon></th>
                        <th pSortableColumn="phone" style="width:10%">Phone <p-sortIcon field="phone"></p-sortIcon></th>
                        <th pSortableColumn="state" style="width:10%">Travel Date <p-sortIcon field="state"></p-sortIcon></th>
                        <th pSortableColumn="status" style="width:10%">Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th pSortableColumn="createdAt" style="width:10%">Created on <p-sortIcon field="createdAt"></p-sortIcon></th>
                        <th style="width:15%">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-booking>
                    <tr  class="border-b border-gray-300">

                        <td class="py-2">{{booking.bookingId}}</td>
                        <td class="py-2">{{booking.firstName}}, {{booking.lastName}}</td>
                        <td class="py-2">{{booking.email}}</td>
                        <td class="py-2">{{booking.phone}}</td>
                        <td class="py-2">{{booking.trip?.tripDate | date: 'dd/MM/yyyy'}}</td>
                        <td class="py-2 capitalize">{{booking.status}}</td>
                        <td class="py-2">{{booking.createdAt | date: 'dd/MM/yyyy'}}</td>
                        <td>
                            <button (click)="op.toggle($event)" class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100" type="button">
                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                </svg>
                            </button>
                            <p-overlayPanel #op styleClass="p-0">
                            <div id="apple-imac-27-dropdown" class=" z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="apple-imac-27-dropdown-button">
                                    <li>
                                        <a href="javascript:void(0)" (click)="showBookingDialog(booking)" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">View Booking</a>
                                    </li>
                                    <li>
                                        <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                                    </li>
                                </ul>
                                <div class="py-1">
                                    <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
                                </div>
                            </div>
                        </p-overlayPanel>

                          </td>
                     
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{}"></p-confirmDialog>
<p-dialog header="{{submitType}}  Booking" [(visible)]="displayBooking" [modal]="true" showEffect="fade"
[style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
<form [formGroup]="bookingForm">
    <div class="">
        <span class=" w-full mb-1">
            <span class="block w-full mb-3"> First Name </span>

            <input id="title" state="text" pInputText formControlName="firstName"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.firstName.errors }" class="border w-full p-3 rounded"
                placeholder="First Name">
        </span>
      
        <small class="w-ful mb-4 inline-block"
            *ngIf="f.firstName.hasError('required') && f.firstName.touched" id="title-help"
            class="p-error">Please enter your first name</small>

            <span class=" w-full mb-1">
                <span class="block w-full mb-3 mt-8"> Last Name </span>
    
                <input id="title" state="text" pInputText formControlName="lastName"
                    [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.lastName.errors }" class="border w-full p-3 rounded"
                    placeholder="Last Name">
            </span>
          
            <small class="w-ful mb-4 inline-block"
                *ngIf="f.lastName.hasError('required') && f.lastName.touched" id="title-help"
                class="p-error">Please enter your last name</small>

                <span class=" w-full mb-1 ">
                    <span class="block w-full mb-3 mt-8"> Phone number </span>
        
                    <input id="phone" state="text" pInputText formControlName="phone"
                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.phone.errors }" class="border w-full p-3 rounded"
                        placeholder="Phone number">
                </span>
              
                <small class="w-ful mb-4 inline-block"
                    *ngIf="f.phone.hasError('required') && f.phone.touched" id="title-help"
                    class="p-error">Please enter your phone</small>

            <span class=" w-full mb-1 block mt-8">
                <span class="block w-full mb-1"> Address </span>
                <input formControlName="address" class="border w-full p-3 rounded" placeholder="Address"> 
            </span>
        <small class="w-ful mb-4 inline-block" *ngIf="f.address.hasError('required') && f.address.touched"
            id="address-help" class="p-error">Please enter address</small>

        <span class="w-full mb-1 block mt-8">
            <span class="block w-full mb-1"> State </span>

            <p-dropdown [options]="states" optionValue ="state.name" placeholder="Select a state" formControlName="state"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.state.errors }" styleClass="border w-full p-2 rounded"
                [style]="{width: '100%'}" optionLabel="state.name"></p-dropdown>
        </span>
        <small class="w-ful inline-block " *ngIf="f.state.hasError('required') && f.state.touched"
            id="state-help" class="p-error">Please enter state</small>

        <button [loading]="loading" pButton pRipple label="Submit" class="w-full mt-8 text-white p-3 rounded bg-primary-700"
            (click)="submitBooking()"></button>
    </div>
</form>
<ng-template pTemplate="footer">
    <!-- <button pButton icon="pi pi-check" (click)="displayFaq=false" label="Ok" class="p-button-outlined"></button> -->
</ng-template>
</p-dialog>

<p-dialog header="Booking Info" [(visible)]="bookingInfoShow" [modal]="true" [draggable]="false" [resizable]="false">
    <div class="lg:w-full w-[40vh]">

    <h1 class="text-xl mb-4 mt-3">#{{bookingInfo?.uniqueBookingId}}</h1>

    <h4 class="text-base font-semibold mt-5 mb-3">Traveller Information</h4>
    <div class="grid grid-cols-1 lg:grid-cols-4">
        <div class="border border-gray-100 m-2 p-2">
            <small>First Name</small>
            <p>{{bookingInfo?.firstName}}</p>
        </div>
        <div class="border border-gray-100 m-2 p-2">
            <small>Middle Name</small>
            <p>{{bookingInfo?.middleName}}</p>
        </div>
        <div class="border border-gray-100 m-2 p-2">
            <small>Last Name</small>
            <p>{{bookingInfo?.lastName}}</p>
        </div>
        <div class="border border-gray-100 m-2 p-2">
            <small>Email</small>
            <p>{{bookingInfo?.email}}</p>
        </div>
        <div class="border border-gray-100 m-2 p-2">
            <small>Phone</small>
            <p>{{bookingInfo?.phone}}</p>
        </div>
        <div class="border border-gray-100 m-2 p-2">
            <small>Date of Birth</small>
            <p>{{bookingInfo?.dob | date: 'dd/MM/yyyy' }}</p>
        </div>
        <div class="border border-gray-100 m-2 p-2">
            <small>Gender</small>
            <p>{{bookingInfo?.gender}}</p>
        </div>

    </div>
    <h4 class="text-base font-semibold mt-5 mb-3">Emergency Contact</h4>
    <div class="grid grid-cols-1 lg:grid-cols-4">

        <div class="border border-gray-100 m-2 p-2">
            <small>First Name</small>
            <p>{{bookingInfo?.emergencyFirstName}}</p>
        </div>
        <div class="border border-gray-100 m-2 p-2">
            <small>Last Name</small>
            <p>{{bookingInfo?.emergencyLastName}}</p>
        </div>
        <div class="border border-gray-100 m-2 p-2">
            <small>Phone </small>
            <p>{{bookingInfo?.emergencyPhone}}</p>
        </div>
        <div class="border border-gray-100 m-2 p-2">
            <small>Emial </small>
            <p>{{bookingInfo?.emergencyEmail}}</p>
        </div>
    </div>

    <h4 class="text-base font-semibold mt-5 mb-3">Trip Information</h4>
    <div class="grid grid-cols-1 lg:grid-cols-4">
        <div class="border border-gray-100 m-2 p-2">
            <small>Trip Route</small>
            <p>{{bookingInfo?.trip.title}}</p>
        </div>
        <div class="border border-gray-100 m-2 p-2">
            <small>Trip Date</small>
            <p>{{bookingInfo?.trip.tripDate}}</p>
        </div>
        <div class="border border-gray-100 m-2 p-2">
            <small>Time </small>
            <p>{{bookingInfo?.trip.time}}</p>
        </div>
        <div class="border border-gray-100 m-2 p-2">
            <small>Seat No. </small>
            <p>{{bookingInfo?.tripSeat}}</p>
        </div>
    </div>
</div>

</p-dialog>