<div class="px-4 mx-auto  lg:px-12">
    <div class="relative overflow-hidden bg-white shadow-md border  dark:bg-gray-800 sm:rounded-lg p-1">
        <div
            class="flex flex-col px-4 py-3  lg:flex-row lg:items-center border-b border-gray-300  lg:justify-between lg:space-y-0 lg:space-x-4">
            <div class="flex items-center flex-1 space-x-4">
                <div class="w-full md:w-1/2">
                    <form class="flex items-center">
                        <label for="simple-search" class="sr-only">Search</label>
                        <div class="relative w-full">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                    fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                            <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" 
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                placeholder="Search" required="">
                        </div>
                    </form>
                </div>
            </div>
            <div
                class="flex flex-col flex-shrink-0 space-y-3 md:flex-row md:items-center lg:justify-end md:space-y-0 md:space-x-3">
                <h5>
                    <span class="text-gray-500">All Bookings:</span>
                    <span class="dark:text-white"> {{bookings.length}}</span>
                </h5>

                <button state="button" 
                    class="flex items-center justify-center flex-shrink-0 px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    <svg class="w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                    </svg>
                    Export
                </button>
                <!-- <button state="button" (click)="showDialog(); submitType ='Add'"
                    class="flex items-center justify-center px-4 py-2 text-sm font-medium text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                    <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewbox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd"
                            d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
                    </svg>
                    Add new booking
                </button> -->

            </div>
        </div>
        <div class="overflow-x-auto">
            <p-table [value]="bookings"  #dt1
            [globalFilterFields]="['bookingId', 'firstName', 'lastName', 'phone', 'status']"
              [paginator]="true" [rows]="10" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true" [tableStyle]="{'min-width': '60rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="firstName" style="width:15%">BookingId <p-sortIcon field="firstName"></p-sortIcon></th>
                        <th pSortableColumn="firstName" style="width:15%">Name <p-sortIcon field="firstName"></p-sortIcon></th>
                        <th pSortableColumn="phone" style="width:10%">Phone <p-sortIcon field="phone"></p-sortIcon></th>
                        <th pSortableColumn="state" style="width:10%">Travel Date <p-sortIcon field="state"></p-sortIcon></th>
                        <th pSortableColumn="state" style="width:10%">Trip Route <p-sortIcon field="state"></p-sortIcon></th>
                        <th pSortableColumn="state" style="width:10%">Amount <p-sortIcon field="state"></p-sortIcon></th>
                        <th pSortableColumn="state" style="width:10%">Seat No. <p-sortIcon field="state"></p-sortIcon></th>
                        <th pSortableColumn="state" style="width:10%">Payment ref <p-sortIcon field="state"></p-sortIcon></th>
                        <th pSortableColumn="status" style="width:10%">Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th pSortableColumn="createdAt" style="width:10%">Created on <p-sortIcon field="createdAt"></p-sortIcon></th>
                        <th style="width:15%">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-booking>
                    <tr  class="border-b border-gray-300">

                        <td class="py-2">{{booking.bookingId}}</td>
                        <td class="py-2">{{booking.firstName}}, {{booking.lastName}}</td>
                        <td class="py-2">{{booking.phone}}</td>
                        <td class="py-2">{{booking.trip?.tripDate }}</td>
                        <td class="py-2">{{booking.trip?.title }}</td>
                        <td class="py-2">{{booking.tripAmount + booking.returnAmount }}</td>
                        <td class="py-2">{{booking.tripSeat}} <span *ngIf="booking.returnSeat" >| {{booking.returnSeat }} </span></td>
                        <td class="py-2">{{booking.mode}}: {{booking.paystack_ref }}</td>
                        <td class="py-2 capitalize">{{booking.status}}</td>
                        <td class="py-2">{{booking.createdAt | date: 'dd/MM/yyyy'}}</td>
                        <td>
                            <button (click)="op.toggle($event)" class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100" type="button">
                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z" />
                                </svg>
                            </button>
                            <p-overlayPanel #op styleClass="p-0">
                            <div id="apple-imac-27-dropdown" class=" z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="apple-imac-27-dropdown-button">
                                    <li>
                                        <a href="javascript:void(0)" (click)="showBookingDialog(booking)" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">View Booking</a>
                                    </li>
                                    <li *ngIf="booking.status != 'Used'" >
                                        <a href="javascript:void(0)" (click)="markAsUsed(booking, 'Used')"
                                            class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Marked as used</a>
                                    </li>
                                    <li *ngIf="booking.status == 'Used'" >
                                        <a href="javascript:void(0)" (click)="markAsUsed(booking, 'Pending')"
                                            class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Marked as unused</a>
                                    </li>
                                    <li>
                                        <a href="#" class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                                    </li>
                                </ul>
                                <div class="py-1">
                                    <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
                                </div>
                            </div>
                        </p-overlayPanel>

                          </td>
                     
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{}"></p-confirmDialog>
<p-dialog header="{{submitType}}  Booking" [(visible)]="displayBooking" [modal]="true" showEffect="fade"
[style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
<form [formGroup]="bookingForm">
    <div class="">
        <span class=" w-full mb-1">
            <span class="block w-full mb-3"> First Name </span>

            <input id="title" state="text" pInputText formControlName="firstName"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.firstName.errors }" class="border w-full p-3 rounded"
                placeholder="First Name">
        </span>
      
        <small class="w-ful mb-4 inline-block"
            *ngIf="f.firstName.hasError('required') && f.firstName.touched" id="title-help"
            class="p-error">Please enter your first name</small>

            <span class=" w-full mb-1">
                <span class="block w-full mb-3 mt-8"> Last Name </span>
    
                <input id="title" state="text" pInputText formControlName="lastName"
                    [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.lastName.errors }" class="border w-full p-3 rounded"
                    placeholder="Last Name">
            </span>
          
            <small class="w-ful mb-4 inline-block"
                *ngIf="f.lastName.hasError('required') && f.lastName.touched" id="title-help"
                class="p-error">Please enter your last name</small>

                <span class=" w-full mb-1 ">
                    <span class="block w-full mb-3 mt-8"> Phone number </span>
        
                    <input id="phone" state="text" pInputText formControlName="phone"
                        [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.phone.errors }" class="border w-full p-3 rounded"
                        placeholder="Phone number">
                </span>
              
                <small class="w-ful mb-4 inline-block"
                    *ngIf="f.phone.hasError('required') && f.phone.touched" id="title-help"
                    class="p-error">Please enter your phone</small>

            <span class=" w-full mb-1 block mt-8">
                <span class="block w-full mb-1"> Address </span>
                <input formControlName="address" class="border w-full p-3 rounded" placeholder="Address"> 
            </span>
        <small class="w-ful mb-4 inline-block" *ngIf="f.address.hasError('required') && f.address.touched"
            id="address-help" class="p-error">Please enter address</small>

        <span class="w-full mb-1 block mt-8">
            <span class="block w-full mb-1"> State </span>

            <p-dropdown [options]="states" optionValue ="state.name" placeholder="Select a state" formControlName="state"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.state.errors }" styleClass="border w-full p-2 rounded"
                [style]="{width: '100%'}" optionLabel="state.name"></p-dropdown>
        </span>
        <small class="w-ful inline-block " *ngIf="f.state.hasError('required') && f.state.touched"
            id="state-help" class="p-error">Please enter state</small>

        <button [loading]="loading" pButton pRipple label="Submit" class="w-full mt-8 text-white p-3 rounded bg-primary-700"
            (click)="submitBooking()"></button>
    </div>
</form>
<ng-template pTemplate="footer">
    <!-- <button pButton icon="pi pi-check" (click)="displayFaq=false" label="Ok" class="p-button-outlined"></button> -->
</ng-template>
</p-dialog>

<p-dialog header="Booking Info" [(visible)]="bookingInfoShow" [modal]="true" [draggable]="false" [resizable]="false">
    <div class="text-right">
        <button class="bg-primary-700 text-white px-3 py-2 mb-10" (click)="convertToPDF()">Download PDF</button>
    </div>
    
    <div class="lg:w-full w-[40vh]">
        <p>
            <img src="assets/img/logo.png" class="mr-3 h-6 sm:h-9" alt=" Logo" />
    
        </p>
        <p class="font-bold text-2xl mt-12">
            <svg class="" height="60" viewBox="0 0 60 60" width="60" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <style>
                        .cls-1 {
                            fill: #699f4c;
                            fill-rule: evenodd;
                        }
                    </style>
                </defs>
                <path class="cls-1"
                    d="M800,510a30,30,0,1,1,30-30A30,30,0,0,1,800,510Zm-16.986-23.235a3.484,3.484,0,0,1,0-4.9l1.766-1.756a3.185,3.185,0,0,1,4.574.051l3.12,3.237a1.592,1.592,0,0,0,2.311,0l15.9-16.39a3.187,3.187,0,0,1,4.6-.027L817,468.714a3.482,3.482,0,0,1,0,4.846l-21.109,21.451a3.185,3.185,0,0,1-4.552.03Z"
                    id="check" transform="translate(-770 -450)" />
            </svg>
            TICKET CONFIRMED
        </p>
        <div class="grid grid-cols-1 lg:grid-cols-2 mt-8">
    
            <h1 class="text-xl mb-5 mt-1">#{{bookingInfo?.uniqueBookingId}}</h1>
            <h1 class="text-xl mb-5 mt-1 text-right">Total Amount Paid: <strong>₦{{bookingInfo?.tripAmount+
                    bookingInfo?.returnAmount}} </strong></h1>
    
        </div>
        <h4 class="text-base font-semibold mt-10 mb-3">Traveller Information</h4>
        <div class="grid grid-cols-1 lg:grid-cols-4">
            <div class="border border-gray-100 m-2 p-2">
                <small>First Name</small>
                <p class="font-semibold">{{bookingInfo?.firstName}}</p>
            </div>
            <div class="border border-gray-100 m-2 p-2">
                <small>Middle Name</small>
                <p class="font-semibold">{{bookingInfo?.middleName}}</p>
            </div>
            <div class="border border-gray-100 m-2 p-2">
                <small>Last Name</small>
                <p class="font-semibold">{{bookingInfo?.lastName}}</p>
            </div>
            <div class="border border-gray-100 m-2 p-2">
                <small>Email</small>
                <p class="font-semibold">{{bookingInfo?.email}}</p>
            </div>
            <div class="border border-gray-100 m-2 p-2">
                <small>Phone</small>
                <p class="font-semibold">{{bookingInfo?.phone}}</p>
            </div>
            <div class="border border-gray-100 m-2 p-2">
                <small>Date of Birth</small>
                <p class="font-semibold">{{bookingInfo?.dob | date: 'dd/MM/yyyy' }}</p>
            </div>
            <div class="border border-gray-100 m-2 p-2">
                <small>Gender</small>
                <p class="font-semibold">{{bookingInfo?.gender}}</p>
            </div>
    
        </div>
        <h4 class="text-base font-semibold mt-5 mb-3">Emergency Contact</h4>
        <div class="grid grid-cols-1 lg:grid-cols-4">
    
            <div class="border border-gray-100 m-2 p-2">
                <small>First Name</small>
                <p class="font-semibold">{{bookingInfo?.emergencyFirstName}}</p>
            </div>
            <div class="border border-gray-100 m-2 p-2">
                <small>Last Name</small>
                <p class="font-semibold">{{bookingInfo?.emergencyLastName}}</p>
            </div>
            <div class="border border-gray-100 m-2 p-2">
                <small>Phone </small>
                <p class="font-semibold">{{bookingInfo?.emergencyPhone}}</p>
            </div>
            <div class="border border-gray-100 m-2 p-2">
                <small>Emial </small>
                <p class="font-semibold">{{bookingInfo?.emergencyEmail}}</p>
            </div>
        </div>
    
        <h4 class="text-base font-semibold mt-5 mb-3">Trip Information</h4>
        <div class="grid grid-cols-1 lg:grid-cols-4 ">
            <div class="border border-gray-100 m-2 p-2">
                <small>Trip Route</small>
                <p class="font-semibold">{{bookingInfo?.trip.title}}</p>
            </div>
            <div class="border border-gray-100 m-2 p-2">
                <small>Trip Date</small>
                <p class="font-semibold">{{bookingInfo?.trip.tripDate | date: 'dd/MM/yyyy' }} {{bookingInfo?.trip.time}}</p>
            </div>
            <div class="border border-gray-100 m-2 p-2">
                <small>Seat No. </small>
                <p class="font-semibold">{{bookingInfo?.tripSeat}}</p>
            </div>
            <div class="border border-gray-100 m-2 p-2">
                <small>Price </small>
                <p class="font-semibold">₦{{bookingInfo?.tripAmount}}</p>
            </div>
        </div>
        <div *ngIf="bookingInfo?.returnTrip">
    
            <h4 class="text-base font-semibold mt-5 mb-3">Return Trip Information</h4>
            <div class="grid grid-cols-1 lg:grid-cols-4">
                <div class="border border-gray-100 m-2 p-2">
                    <small>Trip Route</small>
                    <p class="font-semibold">{{bookingInfo?.returnTrip.title}}</p>
                </div>
                <div class="border border-gray-100 m-2 p-2">
                    <small>Trip Date</small>
                    <p class="font-semibold">{{bookingInfo?.returnTrip.tripDate | date: 'dd/MM/yyyy' }}
                        {{bookingInfo?.returnTrip.time}}
                    </p>
                </div>
    
                <div class="border border-gray-100 m-2 p-2">
                    <small>Seat No. </small>
                    <p class="font-semibold">{{bookingInfo?.returnSeat}}</p>
                </div>
                <div class="border border-gray-100 m-2 p-2">
                    <small>Price </small>
                    <p class="font-semibold">₦{{bookingInfo?.returnAmount}}</p>
                </div>
            </div>
        </div>
    
    </div>
    
    <div class="hidden" id="pdfContnent">
        <div class="invoice-box ">
            <table cellpadding="0" cellspacing="0">
                <tr class="top">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td class="title">
    
                                    <img src="assets/img/logo.png" style="width: 100%; max-width: 300px" />
                                </td>
    
                                <td>
                                    #Ticket ID: {{bookingInfo?.uniqueBookingId}}<br />
                                    Departure Date: {{bookingInfo?.trip?.tripDate}}<br />
                                    <span *ngIf="bookingInfo?.returnTrip"> Return Date:
                                        {{bookingInfo?.returnTrip.tripDate}}</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
    
                <tr class="information">
                    <td colspan="2">
                        <table>
                            <tr>
                                <td>
                                    Victoria Travels<br />
                                    Suite 15 Victoria Atorough<br />
                                    Tyough Complex, Wurukum, Makurdi
                                </td>
    
                                <td>
                                    <p><strong>Terminal:
                                        </strong>.<br />
                                        Abuja-Makurdi-Jos-Gboko<br />
                                        Mararaba-Keffi.</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
    
                <tr class="heading">
                    <td width="44%">TRAVELLER'S INFORMATION</td>
    
                    <td width="56%">&nbsp;</td>
                </tr>
    
                <tr class="border-b border-gray-100">
                    <td colspan="2">
                        <div class="mb-2 grid grid-cols-2 lg:grid-cols-2">
    
                            <p class="">First name: <strong>{{bookingInfo?.firstName}}</strong></p>
                            <!-- <p class="">Middle Name: <strong>{{bookingInfo?.middleName}}</strong></p> -->
                            <p class="">Last Name: <strong>{{bookingInfo?.lastName}}</strong></p>
                        </div>
                    </td>
                </tr>
                <tr class="border-b border-gray-100">
                    <td colspan="2">
                        <div class="mb-2 grid grid-cols-2 lg:grid-cols-2">
    
                            <p class="">Phone: <strong>{{bookingInfo?.phone}}</strong></p>
                            <p class="">Email: <strong>{{bookingInfo?.email}}</strong></p>
                        </div>
                    </td>
                </tr>
                <tr class="border-b border-gray-100 mb-4">
                    <td colspan="2">
                        <div class="mb-2 grid grid-cols-2 lg:grid-cols-2">
    
                            <p class="">Gender: <strong>{{bookingInfo?.gender}}</strong></p>
                            <p class="">Date of Birth: <strong>{{bookingInfo?.dob | date: 'dd/MM/yyyy'}}</strong></p>
                        </div>
                    </td>
                </tr>
                <tr class="item">
                    <td></td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="heading mt-4">
                    <td>EMERGENCY CONTACT</td>
                    <td>&nbsp;</td>
                </tr>
    
                <tr class="border-b border-gray-100">
                    <td colspan="2">
                        <div class="mb-2 grid grid-cols-2 lg:grid-cols-2">
    
                            <p class="">First name: <strong>{{bookingInfo?.emergencyFirstName}}</strong></p>
                            <!-- <p class="">Middle Name: <strong>{{bookingInfo?.middleName}}</strong></p> -->
                            <p class="">Last Name: <strong>{{bookingInfo?.emergencyLastName}}</strong></p>
                        </div>
                    </td>
                </tr>
                <tr class="border-b border-gray-100">
                    <td colspan="2">
                        <div class="mb-2 grid grid-cols-2 lg:grid-cols-2">
    
                            <p class="">Phone: <strong>{{bookingInfo?.emergencyPhone}}</strong></p>
                            <p class="">Email: <strong>{{bookingInfo?.emergencyEmail}}</strong></p>
                        </div>
                    </td>
                </tr>
    
                <tr class="item">
                    <td></td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="heading">
                    <td>TRIP INFROMATION</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="border-b border-gray-100">
                    <td colspan="2">
                        <div class="mb-2 grid grid-cols-2 lg:grid-cols-2">
    
                            <p class=""> Trip Route: <strong>{{bookingInfo?.trip?.title}}</strong></p>
                            <p class=""> Trip Date: <strong>{{bookingInfo?.trip?.tripDate}}
                                    {{bookingInfo?.trip?.time}}</strong></p>
    
                            <!-- <td class="">Vehicle Type <strong>{{bookingInfo?.email}}</strong></td> -->
                        </div>
                    </td>
                </tr>
                <tr class="border-b border-gray-100">
                    <td colspan="2">
                        <div class="mb-2 grid grid-cols-2 lg:grid-cols-2">
                            <p class="">Seat No: <strong>{{bookingInfo?.tripSeat}}</strong></p>
    
                            <p class="">Amount Paid: <strong>₦{{bookingInfo?.tripAmount}}</strong></p>
                        </div>
                    </td>
                </tr>
    
                <tr *ngIf="bookingInfo?.returnTrip" class="border-b border-gray-100">
                    <td colspan="2">
                        <div class="mb-2 grid grid-cols-2 lg:grid-cols-2">
    
                            <p class="">Return Trip Route: <strong>{{bookingInfo?.returnTrip.title}}</strong></p>
                            <p class="">Return Trip Date: <strong>{{bookingInfo?.returnTrip.tripDate}}
                                    {{bookingInfo?.returnTrip.time}}</strong>
                            </p>
    
                            <!-- <td class="">Vehicle Type <strong>{{bookingInfo?.email}}</strong></td> -->
                        </div>
                    </td>
                </tr>
                <tr *ngIf="bookingInfo?.returnTrip" class="border-b border-gray-100">
                    <td colspan="2">
                        <div class="mb-2 grid grid-cols-2 lg:grid-cols-2">
                            <p class="">Seat No: <strong>{{bookingInfo?.returnSeat}}</strong></p>
    
                            <p class="">Amount Paid: <strong>₦{{bookingInfo?.returnAmount}}</strong></p>
                        </div>
                    </td>
                </tr>
    
                <tr class="item">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="heading">
                    <td>FARE CONDITONS</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="">
                    <td colspan="2">
                        <p class="text-xs">1. The bus departs promptly as scheduled provided it is fully booked else the
                            bus may be delayed
                            to await more passengers to enable recovery of high fuel costs. Please endeavour to be at
                            the
                            bus station at least 15 mins before your bus departure time. Once the bus departs, it cannot
                            be
                            stopped for security reasons and to avoid causing inconveniences to passengers already
                            onboard.
                        </p>
                        <p class="text-xs"><br>
                            2. The bus stops at only the designated bus stations for security reasons.</p>
                        <p class="text-xs"><br>
                            3. You are entitled to a total luggage allowance of 10kg. Any luggage above 10kg will be
                            charged
                            at N100 per kg to a maximum of 25kg per bag subject to availability of boot space. If you
                            choose
                            to use our cargo service the luggage will be charged at N50 per kg. Oversized/irregular
                            luggage
                            can only be carried with the cargo service.</p>
                        <p class="text-xs"><br>
                            4. When you miss a bus (no show), we will issue you a new ticket at a discounted rate of
                            ₦5,000.
                            Fees to<br>
                            reschedule your ticket before your bus departs: with more than 24 hrs to departure ₦3,000;
                            with
                            less than 24hrs to departure ₦4,000.</p>
                        <p class="text-xs pb-[5px]"><br>
                            5. There is no refund after your ticket is booked. See full <a href="#"> terms and
                                conditions
                            </a> of carriage on our website.<br>
                            Safe Travels</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</p-dialog>
