<section class="">
    <h3 class=" mx-4 px-4  my-5 text-2xl font-bold text-primary-700">Settings</h3>

    <div class="flex  gap-5" style="min-height: 81vh">
        <div class="lg:w-1/4 w-full bg-white rounded-xl overflow-hidden shadow-md border border-gray-300 p-0">
            <div class="flex flex-nowrap justify-betwee items-center border-b border-gray-300 surface-border rounded p-3 cursor-pointer select-none
            hover:surface-hover transition-colors transition-duration-150" [ngClass]="{'surface-hover': current == 'general'}"
                tabindex="0" (click)="current = 'general'">
                <div class="flex items-center">
    
                    <div class=" ">
                        <span class="text-900 font-semibold block">General Setting</span>
                        <span
                            class="block w-full text-600 text-overflow-ellipsis overflow-hidden white-space-nowrap w-10rem text-sm">System General Settings </span>
                    </div>
                </div>
                <span class="text-700 font-semibold ml-auto hidden md:inline"></span>
            </div>
            <div class="flex flex-nowrap justify-betwee items-center border-b border-gray-300 surface-border rounded p-3 cursor-pointer select-none
            hover:surface-hover transition-colors transition-duration-150" [ngClass]="{'surface-hover': current == 'locations'}"
                tabindex="0" (click)="current = 'locations'">
                <div class="flex items-center">
    
                    <div class=" ">
                        <span class="text-900 font-semibold block">Location Setting</span>
                        <span
                            class="block w-full text-600 text-overflow-ellipsis overflow-hidden white-space-nowrap w-10rem text-sm">Manage available locations </span>
                    </div>
                </div>
                <span class="text-700 font-semibold ml-auto hidden md:inline"></span>
            </div>
          
        </div>

        <div class="lg:w-3/4 w-full p-0">
            <div *ngIf="current ==  'general'">
                <p>Coming Soon!</p>
                <!-- <app-locations></app-locations> -->
            </div>
            <div *ngIf="current ==  'locations'">
                
                <app-locations></app-locations>
            </div>

        </div>
    
    </div>
</section>